server {
    listen {{ nginx_port }};
    server_name _;

    root /var/www/{{ nginx_site_name }};
    index index.html;

    access_log /var/log/nginx/{{ nginx_site_name }}_access.log;
    error_log /var/log/nginx/{{ nginx_site_name }}_error.log;

    location / {
        try_files $uri $uri/ =404;
    }

    location /health {
        access_log off;
        return 200 "OK\n";
        add_header Content-Type text/plain;
    }
}
